<ul>
    <li><a href="Events/List">List of Events</a></li>
    <li><a href="Events/Profile">Event Profile</a></li>
    <li><a href="Events/Add">Add Event(s)</a></li>
    <li><a href="Events/Modify">Modify Donor(s)</a></li>
    <li><a href="Events/Report">Get Report(s)</a></li>
</ul>