@model List<Event>

    <ul>
        @foreach (var item in Model)
        {
        <li>
            <a href="Details/@item.Id">@item.EventName - @item.EventDate.ToString("d")</a>
        </li>   
        }
    </ul>