<form method="post">

    Username: <input type="text" name="username" /> <br/>
    Password: <input type="password" name="password" /> <br />

    Title: <select>
        <option value="Mr">Mr.</option>
        <option value="Ms">Ms.</option>
        <option value="Mrs">Mrs.</option>
    </select><br />
    First name: <input type="text" name="firstname" /><br />
    Last name:  <input type="text" name="lastname" /><br />
    Gender:<select>
        <option value="Male">Male</option>
        <option value="Female">Felame</option>
    </select><br />

    Street Address: <input type="text" name="street" /><br />
    City: <input type="text" name="city" /><br />
    Zip: <input type="text" name="zip" /><br />

    Cell Phone: <input type="tel" name="cellphone" /><br />
    Home Phone: <input type="tel" name="homephone" /><br />

    Email address: <input type="email" name="homephone" /><br />

    <button>Sign Up</button>

</form>