@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contributions Report</title>
    <link rel="stylesheet" href="~/css/custom-css/style.css" />
</head>
<body>

    <h3>Official Report</h3>

    <p>This report is generated at @DateTime.Now</p>

    <div class="grid-container">
        <div style="text-align:center;" class="item1"><strong>Contributions Report</strong></div>

        <div class="item2">

            <div class="sansserif"><strong>Invited Donors #</strong> 0</div><br />

            <div class="sansserif"><strong>Present Donor #</strong> 0</div><br />

            <div class="sansserif"><strong>Absent Donors #</strong> 0</div><br />
        </div>

        <div class="item3">
            <div class="sansserif"><strong>Total Donor Contributions #</strong> 0</div><br />

            <div class="sansserif"><strong>None-Contributions Donors #</strong> 0</div><br />
        </div>

        <div class="item4">
            <div class="sansserif"><strong>Total amount of Contributions:</strong> $</div><br />

            <div class="sansserif"><strong>Highest amount of Contributions:</strong> $</div><br />

            <div class="sansserif"><strong>Lowest amount of Contributions:</strong> $</div><br />
        </div>
        <div class="item5">Footer</div>
    </div>

</body>
</html>