<ul>
    <li><a href="Donors/List">List of Donors</a></li>
    <li><a href="Donors/Profile">Donor Profile</a></li>
    <li><a href="Donors/Add">Add Donor(s)</a></li>
    <li><a href="Donors/Remove">Remove Donor(s)</a></li>
    <li><a href="Donors/Report">Get Report(s)</a></li>
</ul>